h1 {
  margin-top: 30;
  margin-bottom: 30;
  background-color: rgb(204, 198, 198);
  color: rgb(117, 117, 163);
}

.image-tapestry {
  width: 200px;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

.element {
  @include invisible(visible);
}
.element {
  @include invisible(hidden);
}

li {
  list-style-type: none;
}

bg-dark {
  background-color: rgb(53, 52, 52);
}
bg-secondary {
  margin-top: 40px;
}
